h1 {
    font-family: fantasy;
    text-align: center;
    color: chartreuse;
}

#encabezado {
    background-color: darkgreen;
    margin:  0 auto;
    border-radius: 10px;
    padding: 20px;
    display: block;
    justify-content: center;
}

h2 {
    color: cadetblue;
    text-align: center;
}
img {
    border-radius: 10px;
}
.content-selection {
    max-width: 800px;
    margin: -80px auto 40px;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 15px;
}
.content-selection h2 {
    color: aqua;
    border-left: 5px solid;
    padding-left: 15px;
}
